/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

#layout {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	width: auto;
	height: 100%;
	min-height: 900px;
	background: #fff;
	padding-bottom: 30px;
}
#menu {
	max-width: 252px;

	float: left;
	padding: 10px;
	padding-right: 0px;
}
#main{
	
	height: 100%;
	background: #fff;
	margin-top: 1px;
	}
	